.profile__add-button {
	width: 150px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 2px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity ease 0.5s;
}

.profile__add-button:hover {
	opacity: 0.6;
}

@media screen and (max-width: 600px) {
	.profile__add-button {
		width: 282px;
	}
}