.popup-img__container_type_opened-img {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 90px auto 68px;
}

@media screen and (max-width: 900px) {
	.popup-img__container_type_opened-img {
		margin: auto;
		max-width: 75%;
	}
}